#home_page_1strow
{
    color: black;
    background-color:yellow;
    font-size: 40px;
}
#home_lastrow1
{
    background-color: green;
}
#home_lastrow2
{
      font-size: 30px;

}
.home_page_second_row
{
    font-size:20px;
}


