<html>
<head>
    <style>
        #ai
        {
          margin-top: 100px;
        }
        .aif
        {
            font-size: 25px;
        }
        #firstai
        {
            font-size: 30px;
            color: red;
            background-color:black;
        }
        #lastai
        {
            font-size: 25px;
            color: red;
            background-color: black;
        }
    </style>
</head>
<body>
    <form action="{% url 'save_applicant_interview_schedule' %}" method="post">
    {% csrf_token %}
    <table align="center" border="2" id="ai" width="650" height="300">
    <tr><th id="firstai" colspan="3">Assign an Applicant to the Interview</th></tr>
    <tr><th class="aif">Applicant ID</th><th><input type="number" name="i1" value="{{ id }}" readonly></tr>
    <tr><th class="aif">Select Emp id</th>
        <th>
         <select name="i2">
        {% for x in empno %}
            <option> {{ x.emp_no }}</option>
        {% endfor %}
    </select>
        </th></tr>
    <tr><th class="aif">Schedule Date</th><th><input type="date" name="i3" name="i3" required></tr>
    <tr><th colspan="2"><button type="submit" id="lastai">ADD TO INTERVIEW SCEDULE</button> </th></tr>
    </table>
    </form>
<h3><a href="{% url 'interview_schedule' %}">Interview_schedule_page</a></h3>
</body>
</html>
    </form>