<html>
<head>
    <style>
         #first_row
        {
            color: red;
            font-size: 40px;
        }
         .Fields {
             height: 30px;
             width: 200px;
             font-size: 25px;
         }
         #five
         {
             margin-top: 100px;

         }
         .cols
         {
             font-size: 30px;
         }
    </style>
</head>
    <body>
    <form action="{% url 'updated_emp' %}" method="post">
        {% csrf_token %}

<table align="center" border="2" id="five" height= "400px" width="600px">
    <tr><th colspan="2" id="first_row">UPDATE THE EMPLOYEES</th></tr>
    <tr><th class="cols">Employee id</th><th><input type="number"  readonly value="{{ update.emp_no }}" class="Fields" name="u1"></th>
    <tr><th class="cols">Name</th><th><input type="text"  value="{{ update.emp_name }}" class="Fields" name="u2"></th>
    <tr><th class="cols">PASSWORD</th><th><input type="password"  value="{{ update.emp_password }}" class="Fields" name="u3"></th>
    <tr><th class="cols">DESIGNATION</th><th>
    <select  name="u4">
        <option>{{ update.emp_designation }}</option>
        <option>Manager</option>
         <option>Interviewer</option>
        <option>Employee</option>
        <option>Hr</option>
    </select>
</th>
    <tr><th class="cols">ADDRESS</th><th><input type="text"  value="{{ update.emp_adress }}" class="Fields" name="u5"></th>
    <tr><th class="cols">CONTACT</th><th><input type="number"  value="{{ update.emp_contact }}" class="Fields" name="u6"></th>
    <tr><th class="cols">EMAIL</th><th><input type="email"  value="{{ update.emp_email }}" class="Fields" name="u7"></th>
    <tr><th colspan="2" class="cols"><button type="submit"> Update</button></th></tr>




</table>
    </form>
</body>
<a href="{% url 'view_emp_page' %}">View employees</a><br>
<a href="{% url 'add_emp_page' %}">add emp</a><br>
<a href="{% url 'home' %}">home</a>
</html>