<html>
<head>
    <style>
        #first_row
        {
            color: red;
            font-size: 30px;
            background-color: black;
        }
        .second_row
        {
            color: crimson;
            font-size: 20px;
        }
        .third_row
        {
            font-size: 18px;
        }
        #three
        {
            margin-top: 100px;
        }
    </style>
</head>
    <body>
<table border="2" align="center"  cellpadding="15px" id="three">
    <tr><th colspan="7" id="first_row">UPDATE EMPLOYEE PAGE</th></tr>
    <th class="second_row">Employee id</th>
    <th class="second_row">EMPLOYEENAME</th>
    <th class="second_row">DESIGNATION</th>
    <th class="second_row">ADRESS</th>
    <th class="second_row">CONTACT</th>
    <th class="second_row">EMAIL</th>
     <th class="second_row">Update</th>
</tr>

    {% if up %}
        {% for x in up %}

           <th class="third_row">{{ x.emp_no }}</th>
            <th class="third_row">{{ x.emp_name }}</th>
            <th class="third_row">{{ x.emp_designation }}</th>
            <th class="third_row">{{ x.emp_adress }}</th>
            <th class="third_row">{{ x.emp_contact }}</th>
                <th class="third_row">{{ x.emp_email}}</th>
             <th class="third_row"><a href="{% url 'go_upate_emp' %}?no={{ x.emp_no }}">
              Edit
             </a></th></tr>
        {% endfor %}

{% endif %}
</table>
<h3><a href="{% url 'admin_sucessfully_login' %}?a1={{ request.session.userA }}&a2={{ request.session.passdA }}">admin_page</a></h3>

</body>







</html>